doctype html
html
	head
		title= app.config.title
	
		each mode in ['json', 'javascript', 'jade', 'stylus', 'markdown']
			link(rel='prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/mode-' + mode + '.js')
	
	body
		if !user
			main#content.fade.wallpaper
				a.login-button(href='/auth/github') Login via GitHub
		else
			header#header
				h1.title= app.site.config.title
				nav#nav
					each link in nav
						a.nav-link.ajax(href=link.url, title=link.title)
							i.fa.fa-fw(class='fa-' + link.icon)
			
			main#content.fade!= content
			
			//- Ace Editor
			script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js', charset='utf-8')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/theme-monokai.js')