//- h2 Dashboard

.dash-graphs
	#performance.dash-graph
		h3.dash-graph-header Performance
		.row
			.row-name Average code size
			.row-value
				span.value= Math.round(averageCodeSize / 1024)
				span.unit KB
				
		.row
			.row-name Average response time
			.row-value
				span.value= Math.round(averageResponseTime)
				span.unit ms
				
	#system.dash-graph
		h3.dash-graph-header System
		.row
			.row-name Aero version
			.row-value= app.site.version
		.row
			.row-name Node.js version
			.row-value= process.version.replace('v', '')
	
	if app.certificate
		#certificate.dash-graph
			h3.dash-graph-header Certificate
			.row
				.row-name Expiration date
				.row-value= certificateValidity
			
			if app.site.certificate.issuer.organization
				.row
					.row-name Issued by
					.row-value= app.site.certificate.issuer.organization
	
	//- #misc.dash-graph
	//- 	h3.dash-graph-header Miscellaneous
	//- 	.row
	//- 		.row-name Middleware count
	//- 		.row-value= app.site.server.modifiers.length